mat-card {
    margin: 0 auto;
    width: 30%;
    margin-top: 150px;
}

mat-form-field {
    width: 400px;
}

mat-toolbar {
    margin-bottom: 150px;
}

.login {
    background-color: #1abc9c;
    color: #fff;
}