.example-form {
    padding: 30px;
}

.example-full-width {
    width: 100%;
}

.mat-elevation-z8 {
    width: 60%;
    margin: 0 auto;
}

h1 {
    padding: 30px 30px 0px;
}

.addProduct {
    background-color: #1abc9c;
    color: #fff;
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}